a
{
	text-decoration:none;
	color:black;
}

#affichage td
{
	border-radius: 5px;
	padding :5px;
	box-shadow: 3px 3px 3px gray;
}

#affichage td:hover
{
	box-shadow: 0.5px 0.5px 0.5px gray;
}

#affichage div
{
	display:inline-block;
	vertical-align:top;
	margin :5px;
	padding:5px;
}

body
{
	white-space:nowrap;
	font-size: 0.82em;
}

#formulaire
{
	width:50%;
	text-align: center;
	border:1px solid black;
	margin: auto;
	margin-bottom: 20px;
}

#formulaire p
{
	display: inline-block;
	margin-right:15px;
}

#formulaire label
{
	font-weight: bold;
}

#navigation
{
	width:50%;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

#navigation li
{
	display: inline-block;
	margin-right:15px;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 5px;
	padding :5px;
	background-color: #e6e6fa;
	box-shadow: 2px 2px 2px gray;
}

#navigation li:hover
{
	box-shadow: 0.5px 0.5px 0.5px gray;
}

