a
{
	text-decoration:none;
	color:black;
}

#affichage a:hover
{
	text-decoration:none;
	color:blue;
}

#affichage div
{
	display:inline-block;
	vertical-align:top;
	margin :5px;
	padding:5px;
	border:1px solid black;
}

body
{
	white-space:nowrap;
	font-size: 0.82em;
}

#navigation
{
	text-align: center;
	border:1px solid black;
	margin-bottom: 20px;
}

#navigation a:hover
{
	text-decoration:none;
	color:blue;
}

#navigation li
{
	display: inline-block;
	margin-right:15px;
	font-size: 1.2em;
	font-weight: bold;
}
